{% load static %}

<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<title>To Do List</title>
    </head>
    <body ng-app="toDo" ng-controller="toDoController" ng-init="todo_list()">
        
        <h1>To Do List</h1>

        <div ng-repeat="todo in todoList">
            <input type="checkbox" ng-click="remove(todo.id, $index)">            
            <span ng-bind="todo.todo_text"></span>
        </div>

        <form ng-submit="todoAdd()">
            <input type="text" ng-model="todoInput" placeholder="new task">
            <input type="submit" value="submit">
        </form>

        <script src="{% static 'js/angular.min.js' %}"></script>
        <script src="{% static 'js/todo.js' %}"></script>
    </body>
</html>